@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="display-4">An error occurred</h2>
<img src="~/Images/Error.jpg" style="display: block; margin: 0 auto;" />
<p class="lead">We're sorry, but something went wrong. Please try again later.</p>
