@{
    ViewBag.Title = "Contact";
}
<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>

    <address>
        Somewhere in<br />
        Los Angeles, CA 90201<br />
        <abbr title="Phone">Phone Number:</abbr>
        (562) 966-3459
    </address>

    <address>
        <strong>Email:</strong>   <a href="mailto:josejesusgarciajr@gmail.com">josejesusgarciajr@gmail.com</a><br />
    </address>
</main>