@model List<PersonalPlayGround.ClientInfo.Client>

<table class="table">
    <thead>
        <tr>
            <th>Full Name</th>
            <th>UserName</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var client in Model)
        {
            <tr scope="row">
                <td class="col-4">@client.Name</td>
                <td class="col-4">@client.UserName</td>
                <td class="col-4">
                    <a href="@Url.Action("DeleteIdentityUser", "Admin", new { clientId = client.Id })" 
                       class="btn btn-danger"
                       onclick="return confirm('Are you sure you want to delete this user?')">
                        Delete
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>
