@model PersonalPlayGround.Models.IdentityUsersViewModel

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Identity Users</title>
</head>
<body>
    <h1 class="display-4">Identity User Dashboard</h1>
    <hr />

    <h2 class="display-6">Admin Identity Users</h2>
    <div>
        @Html.Partial("_ClientsTablePartial", Model.AdminClients)
    </div>

    <h2 class="display-6">Regular Identity Users</h2>
    <div>
        @Html.Partial("_ClientsTablePartial", Model.RegularClients)
    </div>
</body>
</html>
