
@{
    ViewBag.Title = "Index";
}

<h2 class="display-4 text-center">Admin Page</h2>

<div class="container">
    <p class="lead text-center image-container">
        <code>The power is in your hands</code>
    </p>

    <img src="@Url.Content("~/Images/Tech.jpg")" alt="tech" width="100%;" height="660px;" style="margin-bottom: 20px;"/>

    <div class="row">
        <div class="col d-flex justify-content-center">
            <a href="@Url.Action("AddRecipe", "Admin")" class="btn btn-outline-dark">Add Recipe</a>
        </div>
        <div class="col d-flex justify-content-center">
            <a href="@Url.Action("SelectRecipe", "Admin", new { task = "Update"})" class="btn btn-outline-dark">Update Recipes</a>
        </div>
        <div class="col d-flex justify-content-center">
            <a href="@Url.Action("SelectRecipe", "Admin", new { task = "Delete"})" class="btn btn-outline-dark">Delete Recipes</a>
        </div>
    </div>
</div>