@model PersonalPlayGround.Models.RecipeViewModel
@{
    ViewBag.Title = "SelectRecipe";
}

<h1 class="display-4">Recipes Dashboard</h1>
<hr />

<h2 class="display-6">Active Recipes</h2>
@Html.Partial("_RecipeTablePartial", Model.ActiveRecipes)

<h2 class="display-6">Inactive Recipes</h2>
@Html.Partial("_RecipeTablePartial", Model.InactiveRecipes)