@model PersonalPlayGround.Models.RecipeViewModel
@{
    ViewBag.Title = "SelectRecipe";
}

<div class="d-flex align-items-center justify-content-between">
    <h1 class="display-4 mb-0">Recipes Dashboard</h1>
    <a href="@Url.Action("AddRecipe", "Admin")" class="btn btn-outline-success">Add Recipe</a>
    <a href="@Url.Action("InactivateAllWithoutImage", "Admin")" class="btn btn-outline-warning">Inactivate all without Image</a>
</div>
<hr />

<h2 class="display-6">Active Recipes</h2>
@Html.Partial("_RecipeTablePartial", Model.ActiveRecipes)

<h2 class="display-6">Inactive Recipes</h2>
@Html.Partial("_RecipeTablePartial", Model.InactiveRecipes)